<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria M&L</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Pizzeria M&L</h1>
    </header>

    <div class="container">
        <div class="menu">
            <h2>Menu</h2>

            <div class="categories">
                <button class="category-btn" onclick="filterCategory('all', 'all')">All</button>
                <button class="category-btn" onclick="filterCategory('Pizza', 'all')">Pizzas</button>
                <button class="category-btn" onclick="filterCategory('Drinks', 'all')">Drinks</button>

                <div class="subcategories-pizzas">
                    <button class="category-btn" onclick="filterCategory('Pizza', 'Meat')">Meat Pizzas</button>
                    <button class="category-btn" onclick="filterCategory('Pizza', 'Vegetarian')">Vegetarian Pizzas</button>
                </div>
                <div class="subcategories-drinks">
                    <button class="category-btn" onclick="filterCategory('Drinks', 'Cold')">Cold Drinks</button>
                    <button class="category-btn" onclick="filterCategory('Drinks', 'Hot')">Hot Drinks</button>
                </div>
            </div>

            <div class="products">
                {% for product in products %}
                <div class="product {{ product.type }} {{ product.section }}">
                    <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.desc }}</p>
                    <p class="price">Price: ${{ product.price }}</p>
                    <button class="add-to-cart-btn" onclick="addToCart('{{ product.name }}', {{ product.price }})">Add</button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="cart-panel">
            <h2>Cart</h2>
            <ul>
                {% for cart_item in cart_items %}
                    <li>{{ cart_item['name'] }} - ${{ cart_item['price'] }} x{{ cart_item['quantity'] }}</li>
                {% endfor %}

            </ul>
            <p>Total amount: ${{ total_price }}</p>
            <button class="clear-cart-btn" onclick="clearCart()">Clear Cart</button>
            <button class="purchase-btn" onclick="redirectToCheckout()">Purchase</button>
        </div>


    </div>
    <footer>

    </footer>
</body>
</html>